#navbar ul li.active a{
    border-bottom: 4px solid black;
    padding-bottom: 0px;
    background-color: transparent;
}

#navbar ul{
    margin-right: 20%;
}
#navbar ul li{
    font-weight: 300;
}
#navbar{
    height: 70px;
    background-color: #fff;
}

.banner-about-us{
    background-image:url("images/teste.jpg");
}
