*{
    font-family: 'Raleway', sans-serif;
}

#navbar ul li.active a{
    border-bottom: 4px solid black;
    padding-bottom: 0px;
    background-color: transparent;
}

#navbar ul{
    margin-right: 20%;
}
#navbar ul li{
    font-weight: 600;
}
#navbar{
    height: 70px;
    background-color: #fff;
}

.banner-about-us{
    background-image:url("images/teste.jpg");
}

.homepage-banner-left{
    min-height:300px;
    background-color:#1f1f29;
}

.homepage-banner-right{
    min-height: 400px;
    background-image: url(../images/^24448EDE4F4F69B28FCB9386D6778E9B92FDD2A46752DCC77C^pimgpsh_fullsize_distr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



#about-us .header{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-weight: 900;
}

#about-us .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 60px;
    width: 175px;
    position: absolute;
    top: 68px;
    left: 70px;
    z-index: -30;
}

#about-us .text{
    font-size:18px;
    font-weight: 600;
}

#about-us{
    padding-bottom:80px;
}

.pe-back-rectangle{
    border: 6px solid #e7e7e7;
    height: 170px;
    width: 150px;
    position: absolute;
    top: 105px;
    left: 423px;
    opacity: 0.5;
    z-index: 0;
}

.blue-background{
    background-color:#1f1f29; 
}

#our-services{
    margin-bottom: 50px;
}

.text-border{
    border-bottom: solid 5px #267ab5;
    width: 80px;
}

#our-services .header{
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: 900;
}

#our-services .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 115px;
    width: 190px;
    position: absolute;
    top: 65px;
    left: 70px;
    opacity: 0.4;
}

#our-services .wrapper{
    z-index: 10;
    margin-bottom: 50px;
}


#our-services .text{
    font-size: 15px;
    font-weight: 300;
    width: 80%;
}

.icon{
    font-size:3rem;
    color:white;
}


.icon-social{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.square{
    margin-top: 90px;
    border: solid 2px white;
    height: 170px;
    text-align: center;
    color:white;
    cursor:pointer;
}

.square:hover{
    margin-top: 90px;
    border: solid 2px #267ab5;
    height: 170px;
    text-align: center;
    color:white;
}

.square-content{
    padding-top: 20px;
    font-weight: 600;
}

.square-content .first-text{
    padding-top: 10px;
}

#testimonials .header{
    font-size: 40px;
    padding-top: 200px;
    font-weight: 900;
}

#testimonials .text{
    font-size:15px;
    font-weight: 300;
    padding-top:100px;
    min-height:410px;
}

#testimonials .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 65px;
    width: 190px;
    position: absolute;
    top: 195px;
    left: 70px;
    z-index: -30;
}

.carousel-indicators li{
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: white;
    border: solid 1px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators li.active{
    
    background-color: #999;
}

.carousel-inner{
    min-height: 610px;
}

.testemonial-person{
    background-color: #e7e7e7;
    height: 110px;
    margin-top: 25px;
    text-align: right;
}
.testemonial-person .name{
    color: black;
    padding-top: 20px;
    font-size: 22px;
    margin-right: 50px;
    font-weight: 900;
}
.testemonial-person .company{
    color: #267ab5;
    font-size: 30px;
    margin-right: 50px;
    font-weight: 900;
}

.quotes-open{
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    left: -25px;
    top: 30px;
}

.quotes-close1{
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    right: -5px;
    bottom: 0px;
}

.quotes-close2{
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    right: -5px;
    bottom: 132px;
}

.quotes-close3{
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    right: -5px;
    bottom: 45px;
}

.img-fluid{
    width:100%;
}

.contacts-background{
    background: url(../images/^FB97DE81227C55FEE013F5928284B3F24A134316A33679CF25^pimgpsh_fullsize_distr.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#contacts .header{
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: 900;
}

#contacts .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 115px;
    width: 190px;
    position: absolute;
    top: 65px;
    left: 70px;
    opacity: 0.4;
}

#contacts .text{
    color: white;
    margin-top: 60px;
    margin-bottom: 120px;
    font-weight: 300;
}

#contacts .text .label{
    font-weight: 600;
    padding-top:20px;
}
.join-us-button{
    border: solid 3px white;
    background: transparent;
    color: white;
    padding: 2px 20px;
    margin-top: 20px;
    margin-left: 20%;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.map-link{
    padding-top:20px;
    text-decoration: underline;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.input-form{
    padding-top: 80px;
    padding-left: 30px;
}

.input{
    background: transparent;
    border-bottom:solid 3px white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    color:white;
    margin-bottom:70px;
    font-weight: 600;
    resize: none;
    padding-bottom:10px;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.social-icons{
    border-bottom: 4px solid white;
    text-align: center;
    padding-bottom: 10px;
}

.copyright{
    color:white;
    text-align: center;
    padding-top:5px;
    padding-bottom:20px;
}

.banner-header{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-weight: 900;
    color:white;
}

.banner-text{
    color:white;
    font-size: 25px;
}

/*LOOSE WORD CLASSES */ 

.background-word{
    position: absolute;
    font-size: 7rem;
    color: #e3e3e3;
    font-weight: 600;
    overflow: hidden;
}

/*MPTEQUATIO*/

.loose-pe{
    position: absolute;
    top: 140px;
    left: 0;
    color: #e7e7e7;
    font-size: 77px;
    opacity: 0.5;
    font-weight: 600;
    z-index: 0;
    overflow: hidden;
}

/* SOLUTIONS WORD*/
#word1{ 
    top: 110%;
    right: 0px;
    z-index:-1;
}

#word1 .inner{
    margin-right: -130px;
}

/* OLOGY*/

#word2{ 
    top: 140%;
    z-index: -1;
    left: -10px;
}

/* CONTACTS*/

#word3{
    position: absolute;
    top: 45%;
    left: 0;
    color: #e7e7e7;
    font-size: 7rem;
    opacity: 0.5;
    font-weight: 600;
    z-index: 0;
    overflow: hidden;
    margin-left: -170px;
}