*{
    font-family: 'Raleway', sans-serif;
}

p{font-size: 1.125rem;}

h2{font-weight: 800;}

.h3, h3 {
    font-size: 1.75rem;
    font-weight: 800;
}

 h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

h3#first_title{margin-bottom: 2.1875rem;}
h5#second_title {
    font-weight: 600;
    margin: 1rem 0rem 1.5rem;
}
h2#first_message{
    padding: 30px 0;
    font-weight: 400;
    color: white;}

img#logo{
    vertical-align: middle;
    border-style: none;
    width: 7rem;
    top: 0;
    margin-bottom: 1.3rem;}

#navbar ul li a{
    padding-bottom: 0px;
    background-color: transparent;
    color: #1f1f29;
    padding: 1rem 0rem 1rem 0rem;
    font-size: 1.125rem;
    margin: 1rem;
}

#navbar ul li.active a{
    border-bottom: 4px solid black;
    padding-bottom: 0px;
    background-color: transparent;
}

.btn-apply .icon{
    font-size: 1.2rem;
    vertical-align: middle;
}

#navbar ul{
    margin-right: 20%;
}
#navbar ul li{
    font-weight: 600;
}
#navbar{
    height: 70px;
    background-color: #fff;
}

.banner-about-us{
    background-image:url("images/teste.jpg");
}

.homepage-banner-left{
    background-color:#1f1f29;
}

.homepage-banner-right{
    min-height: 400px;
    background-image: url(../images/^24448EDE4F4F69B28FCB9386D6778E9B92FDD2A46752DCC77C^pimgpsh_fullsize_distr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    margin-left: 1rem;
}

#our-services a:hover {
    color: transparent;
    text-decoration: none;
}

.overlap-background {
    position: absolute;
    bottom: 0;
    background-color: #1f1f29;
    width: 100%;
    height: 50%;
}

#about-us .header{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-weight: 900;
}

.grey-bar-linux {
    background-color: #e7e7e7;
    border-bottom: 2px solid #808082;
    height: 80px;
}

#about-us .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 60px;
    width: 175px;
    position: absolute;
    top: 68px;
    left: 45%;
    z-index: -30;
}

#about-us .text{
    font-size:18px;
}

#about-us{
    padding-bottom:80px;
}

.pe-back-rectangle{
    border: 6px solid #e7e7e7;
    height: 170px;
    width: 150px;
    position: absolute;
    top: 105px;
    left: 423px;
    opacity: 0.5;
    z-index: 0;
}

.blue-background{
    background-color:#1f1f29; 
}

.blue-footer{
    background-color:#1f1f29;
    height: 9.375rem;
}


#our-services {
    margin-bottom: 5rem;
    margin-top: 1.875rem;
}


.text-border{
    border-bottom: solid 5px #267ab5;
    width: 80px;
}

#our-services .header{
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: 900;
}

#our-services .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 115px;
    width: 190px;
    position: absolute;
    top: 65px;
    left: 25%;
    opacity: 0.4;
}

#our-services .wrapper{
    z-index: 10;
    margin-bottom: 50px;
}


#our-services .text{
    font-size: 15px;
    font-weight: 300;
 
}

.icon{
    font-size:3rem;
    color:white;
}


.icon-social{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.square{
    margin-top:7.5rem;
    border: solid 2px white;
    height: 12.5rem;
    text-align: center;
    color:white;
    cursor:pointer;
}

.square:hover{
    margin-top:7.5rem;
    border: solid 2px #267ab5;
    height: 12.5rem;
    text-align: center;
    color:white;
}


.square {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.square:hover  {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.square-content{
    padding-top: 1.875rem;
    font-weight: 600;
}

.square-content .first-text{
    padding-top: 10px;
}

#testimonials .header{
    font-size: 40px;
    padding-top: 200px;
    font-weight: 900;
}

#testimonials .text{
    font-size:15px;
    font-weight: 300;
    padding-top:100px;
    min-height:410px;
}

#testimonials .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 65px;
    width: 190px;
    position: absolute;
    top: 195px;
    left: 70px;
    z-index: -30;
}

.carousel-indicators li{
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: white;
    border: solid 1px #7c7c7c;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators li.active{
    
    background-color: #7c7c7c;
}



.carousel-inner{
    min-height: 630px;
}

.testemonial-person{
    background-color: #e7e7e7;
    margin-top: 25px;
    text-align: right;
}


.testemonial-person .name{
    color: black;
    padding-top: 20px;
    font-size: 22px;
    margin-right: 50px;
    font-weight: 900;
}
.testemonial-person .company{
    color: #267ab5;
    font-size: 30px;
    margin-right: 50px;
    font-weight: 900;
}

.quotes-open{
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    left: -25px;
    top: 30px;
}

.quotes-close1{
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    right: -5px;
    bottom: 0px;
}

.quotes-close2{
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    right: -5px;
    bottom: 132px;
}

.quotes-close3{
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    right: -5px;
    bottom: 45px;
}

.img-fluid{
    width:100%;
}

.contacts-background{
    background: url(../images/footer.png) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 4rem;
}

#contacts .header{
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: 900;
}

#contacts .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 115px;
    width: 190px;
    position: absolute;
    top: 65px;
    left: 70px;
    opacity: 0.4;
}

#contacts .text{
    color: white;
    margin-top: 60px;
    margin-bottom: 120px;
    font-weight: 300;
}

#contacts .text .label{
    font-weight: 600;
    padding-top:0.7rem;
}

.row#contacts a{color: #fff;
font-weight: bold;}
.join-us-button{
    border: solid 3px white;
    background: transparent;
    color: white;
    padding: 4px 30px;
    margin-top: 20px;
    margin-left: 20%;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.send-button{
    border: solid 3px white;
    background: transparent;
    color: white;
    padding: 4px 30px;
    float:right;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.map-link{
       padding: 0.625rem 0rem 0.9375rem;
    text-decoration: underline;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.input-form{
    padding-top: 80px;
    padding-left: 30px;
}

.input{
    background: transparent;
    border-bottom:solid 3px white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    color:white;
    margin-bottom:70px;
    font-weight: 600;
    resize: none;
    padding-bottom:10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}


.banner-header{
    font-size: 40px;
    padding-top: 3rem;
    padding-bottom: 60px;
    font-weight: 900;
    color:white;
}

#banner_blue{height: 12.5rem;}

.row#footer{
    padding-top: 2rem;
    margin-top: 4rem;}

.banner-text{
    color:white;
    font-size: 25px;
}

#homepage-intro{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#homepage-intro .text{
    color:black;
    font-size: 18px;
}

#homepage-intro .header{
    color: black;
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 20px;
}

 h1#first{
    color: black;
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom:1.25rem;
     text-transform: uppercase;
}

.category-header{
    font-size: 30px;
    color: #267ab5;
    font-weight: 900;
}
.category-header-border{
    border-bottom:3px solid #1f1f29;
    width:50px;
    margin-bottom:1rem;
}

.header-center{
   
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
}

.category-list p{
    height:70px;
    font-weight: 900;
}


.language {
    color: #fff;
    background-color: #f8f9fa;
    color: #1f1f29;
    border-width: 0;
    border-style: none;
    border-image: none;
    margin-top: 2rem;
    font-size: 1.125rem;
    cursor: pointer;
}


.language2{
    color: #fff;
    background-color: #f8f9fa;
    color: #1f1f29;
    border-width: 0;
    border-style: none;
    border-image: none;
    margin-top: 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 6.5rem;
    margin-top: 1.4rem;
}

#careers-tabs{
    background-color: #1f1f29;
    padding-top: 15px;
    padding-bottom: 15px;
    border:0;
}

#careers-tabs li a{
    background-color:#1f1f29;
    color:white;
    border:0;
    font-weight: 600;
    font-size: 20px;
    margin-right: 6rem;
}

#careers-tabs li a~.border-bottom{
    display: none;
}
#careers-tabs li a.active~.border-bottom{
    height: 4px;
    background-color: white;
    width: 40px;
    display: block;
    margin-left: 15px;
}



#our-culture-content{
    padding-top: 60px;
}

#our-culture-content .header{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-weight: 900;
}

#our-culture-content .back-rectangle{
    border: 0.4375rem solid #e4e4e4;
    height: 5.625rem;
   width: 18.125rem;
    position: absolute;
     top: 3.5rem;
    left: 40%;
    z-index: -30;
}

#homepage-intro .back-rectangle{
     border: 0.4375rem solid #e4e4e4;
    height: 8.75rem;
    width: 18.125rem;
    position: absolute;
    top: 6.5rem;
    left: 4.375rem;
    z-index: -30;
}

#join-us-content{
    padding-top: 60px;
}

#join-us-content .header{
    font-size: 40px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-weight: 900;
}

.rectangle-spontaneous{
    border: 7px solid #e7e7e7;
    height: 90px;
    width: 320px;
    position: absolute;
    top: 100px;
    left: 50%;
    z-index: -30;
}

#open-positions .back-rectangle{
    border: 7px solid #e7e7e7;
    height: 90px;
    width: 30%;
    position: absolute;
    top: 56px;
    left: 40%;
    z-index: -30;
}

.job-application{
    box-shadow: 0px -5px 10px -5px #e7e7e7;
    border:solid 1px #e7e7e7;
    padding:20px;
    margin:0 15px;
}

.job-application .label{
    color: #e7e7e7;
    font-weight:600;
}

.job-application .position{
    color:#267ab5;
    font-weight: 900;
    font-size:25px;
    text-transform: uppercase;
}

.job-application .text{
    font-weight: 600;
    padding-top:10px;
}

.btn-apply{
    background-color:#267ab5;
    color:white;
    padding:5px 10px;
    border-radius:0;
    font-weight: 600;
}

.application-content{
    padding-top:30px;
}

.application-content .main-title{
    color:#808082;
    font-weight:900;  
    padding:20px 0;  
}

.application-content .title{
    color:#808082;
    padding:20px 0;  
}

.job-requirements{
    padding-left:25px;
}

.job-requirements li{
    list-style-type: disc;
    color:#267ab5;
    font-size:25px;
}

.job-requirements li span{
    color:black;
    font-size:16px;
}

hr {
  
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
    width:85%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


/*NAVBAR */

.dropdown-menu {
    -webkit-box-shadow: 3px 3px 36px -7px rgba(235,235,235,1);
    -moz-box-shadow: 3px 3px 36px -7px rgba(235,235,235,1);
    box-shadow: 3px 3px 36px -7px rgba(235,235,235,1);
    
border:none;
}

nav#navbar {
    -webkit-box-shadow: 0px 7px 20px -9px rgba(204,204,204,1);
    -moz-box-shadow: 0px 7px 20px -9px rgba(204,204,204,1);
    box-shadow: 0px 7px 20px -9px rgba(204,204,204,1);
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #1f1f29;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 5px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 25px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 25px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(8px, 6px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
  transition: ease all .2s;
}



#navbar .navbar-nav .dropdown button{
    background-color:transparent;
    border:0;
    color: #1f1f29;
    font-size: 1.125rem;
    padding:0;
    font-weight:600;
    padding: 1rem 0rem 1rem 0rem;
    margin: 1rem;
}

#navbar .navbar-nav .dropdown-menu a:hover{font-weight: bold;}

#navbar .navbar-nav .dropdown-menu a{
    margin:0;
    font-size:1rem;
    padding: 1rem;
    font-weight:600;
    border-bottom:0;
}

#navbar .navbar-nav .dropdown-menu a.active{
    margin:0;
    font-size:1rem;
    padding: 0.8rem;
    font-weight:900;

}

.dropdown:hover>.dropdown-menu {
    display: block;
}

#navbar .navbar-nav .dropdown button::after{
    display:none;
}

#navbar li.active .dropdown button{
    border-bottom: 4px solid black;
    padding-bottom: 0px;
    background-color: transparent;
    border-radius:0;
    margin-bottom: 30px;
}

#navbar .navbar-nav .dropdown button:focus{
    box-shadow:none;
}

#navbar .dropdown-menu{
    margin-top:-11px;
}

/*LOOSE WORD CLASSES */ 

.background-word{
    position: absolute;
    font-size: 7rem;
    color: #e3e3e3;
    font-weight: 600;
    overflow: hidden;
}

/*MPTEQUATIO*/

.loose-pe{
    position: absolute;
    top: 140px;
    left: 0;
    color: #e7e7e7;
    font-size: 77px;
    opacity: 0.5;
    font-weight: 600;
    z-index: 0;
    overflow: hidden;
}

/* SOLUTIONS WORD*/
#word1{ 
    top: 110%;
    right: 0px;
    z-index:-1;
}

#word1 .inner{
    margin-right: -130px;
}

/* OLOGY*/

#word2{ 
    top: 140%;
    z-index: -1;
    left: -10px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.8rem 0rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
}

#word3{
    position: absolute;
    top: 45%;
    left: 0;
    color: #e7e7e7;
    font-size: 7rem;
    opacity: 0.5;
    font-weight: 600;
    z-index: 0;
    overflow: hidden;
    margin-left: -170px;
}

/* Lists*/
.list-group-item {
    position: relative;
    display: block;
    padding: 0.8rem 0rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
}

/* FOOTER*/
span.icon-social.icon-linkedin {
    padding: 0rem 0.3rem 0rem;
}


span.icon-social.icon-twitter {
    padding: 0rem 0.3rem 0rem;
}

span.icon-social.icon-facebook {
    padding: 0rem 0.3rem 0rem;
}

.social-icons{
    display: inline-flex;
    border-bottom: 4px solid white;
    text-align: center;
    padding-bottom: 10px;
}

.copyright{
    color:white;
    text-align: center;
    padding-top:5px;
    padding-bottom:20px;
}

/* SERVICES GERAL*/

#services-intro .header {
      font-size: 30px;
      padding-top: 70px;
      padding-bottom: 60px;
      font-weight: 900;
    }

    #services-intro .back-rectangle {
      border: 7px solid #e7e7e7;
      height: 5.625rem;
      width: 18.125rem;
      position: absolute;
      top: 3rem;
      left: 45%;
      z-index: -30;
    }
    #services-cards-linux .card-footer {
        border-top: 0;
        background-color: white;
        padding-bottom: 40px;
    }

    .align-cards-top {
        margin-top: -8%;
    }

    .card-title .icon {
      color: black;
      font-size: 4rem;
    }

    #services-cards .card-body {
      padding-top: 4rem;
    }

    #services-cards .card {
      background-color: #f8f8f8;
    }

    #services-cards .card-footer {
      border-top: 0;
      padding-bottom: 4rem;
      background-color: #f8f8f8;
    }

 .blue-font a {
    font-size: 1.3125rem;
    cursor: pointer;
    color: #267ab5;
}

.blue-font a:hover{text-decoration: none;}

/* OTHER SERVICES */
    .grey-bar {
        background-color: #e7e7e7;
        -webkit-box-shadow: -2px 10px 9px -9px rgba(204,204,204,1);
-moz-box-shadow: -2px 10px 9px -9px rgba(204,204,204,1);
box-shadow: -2px 10px 9px -9px rgba(204,204,204,1);
        
    }

    #tabs-nav {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .tabs-others{
        height:6.3rem
    }

    .tabs-manage{
        height: 6.3rem;
    }

    #other-services .icon{
        color:black;
        display: inline-block;
        margin-right:10px;
    }
    #other-services .title{
        font-weight:900;
        width:80%;
        display:inline-block;
        padding-top:10px;
    }
    #other-services .text{
        font-size:1rem;
    }

    #tabs-nav ul {
        width: 100%;
    }

    #tabs-nav a {
        font-weight: 600;
        color: black;
    padding: .5rem 1rem;
    background-color: transparent;
    }

    #tabs-nav a.active {
        font-weight: 900;
        color: black;
    padding: .5rem 1rem;
    background-color: transparent;
    }

    #tabs-nav a.active ~.active-border {
        height: 3px;
        background-color: black;
        width: 15%;
margin-left:15px;
    }

/* CARRERS */
   .carrers-button {
    border: solid 5px #e4e4e4;
    background-color: white;
    padding: 0.8rem;
    font-weight: 900;
    cursor: pointer;
}

.attach-cv-button {
    border: solid 5px #e4e4e4;
    background-color: white;
    padding: 0 0.8rem;
    font-weight: 900;
    cursor: pointer;
    color:#267ab5;
}

/* SERVICES MANAGE */
 .grey-bar {
        background-color: #efefef;
        
    }

    #other-services .icon {
        color: black;
        display: inline-block;
        margin-right: 10px;
    }

    #other-services .title {
        font-weight: 900;
    }

    #other-services .text {
        font-size: 1rem;
    }

    #content ul {
        width: 100%;
        list-style: none;
        padding-left: 0;
    }

    .manage-services ul li {
        padding: 10px 0;
        font-weight: 600;
    }

    .align-tabs > li {
        display: table-cell;
      }
      
      .align-tabs {
        display:table;
      }

    .manage-services ul li span {
        color: #267ab5;
    }

    .manage-services .title {
        font-weight: 900;
        vertical-align: top;
    }

    .manage-services table {
        width: 100%;
    }

    .manage-services table td {
        vertical-align: top;
    }

    .services-button {
        border: solid 4px #e7e7e7;
        background-color: white;
        padding: 10px;
        font-weight: 900;
        cursor: pointer;
    }

    #itproject .subtitle{
        font-weight:900;
    }

    #itproject .subtitle-border{
        border-bottom:4px black solid;
        width:8%;
    }

    #itproject .subtitle-text{
        padding-bottom:2rem;
    }

    .align-it-project{
        padding-top:8rem;
    }
  

    .manage-services .icon {
        color: black;
        display: inline-block;
        margin-right: 10px;
    }

    .background-words-odoo {
        position: relative;
        left: 50px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }

    .background-words-sync {
        position: relative;
        left: -70px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }

    .background-words-openproject {
        position: relative;
        left: 70px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }

    .background-words-gitlab {
        position: relative;
        left: 20px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }

    .background-words-nextcloud {
        position: relative;
        left: -40px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }

    .background-words-lxc {
        position: relative;
        left: 50px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }

    .background-words-website{
        position: relative;
        left: -90px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }

    .background-words-seo{
        position: relative;
        left: -20px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }
    
    .background-words-cloud{
        position: relative;
        left: -50px;
        font-size: 110px;
        color: #e2e2e2;
        font-weight: 600;
    }

    .wrapper-parent {
        overflow: hidden;
    }

    

@media (max-width: 767.98px) { 
    

    .card-deck {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        
    }

    .card-deck .card{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        flex:auto;
        margin-bottom: 15px;
    }

#navbar {
    height: auto;
    background-color: #fff!important;
    
}
    
    .text-center.right{background-color: #f9f9f9;}
    
    .navbar-light .navbar-nav .nav-link {
    font-size: 1.75rem;
}



    .navbar-light .navbar-nav .nav-link:hover {
    color: #1f1f29;
    font-weight: 900;
}

    #navbar .dropdown:hover button{
            border:0;
            background-color: transparent;
            border-radius:0;
            color: #1f1f29;
            font-weight: 900;
            background-color:transparent;
            font-size: 1.125rem;
            padding: 1rem 0rem 1rem 0rem;
        margin: 1rem;
        }
        
        #navbar .dropdown-menu{
            display:block;
            text-align:center;
        }

        #navbar ul li.active>a {
            
    width: 20%;
    margin: auto;
    border-bottom:0;
    font-weight:900;
        }

        #navbar li.active .dropdown button {
            font-weight:900;
            padding-bottom: 0px;
            background-color: transparent;
            border-radius: 0;
            margin-bottom: 30px;
            border-bottom:0;
        }
 
    .language2 {
    margin: 1rem 0rem 1rem 0rem; }
    .language {
    margin-top: 0;}
    img#logo {
    vertical-align: middle;
    border-style: none;
    width: 7rem;
    top: 0px;
   margin-bottom:0rem;
    margin-left: -1rem;
}

#open-positions .back-rectangle{
    width: 50%;
}

.rectangle-spontaneous{
    border: 7px solid #e7e7e7;
    height: 135px;
    width: 260px;
    position: absolute;
    top: 80px;
    left: 35%;
    z-index: -30;
}



.align-it-project{
    padding-top:0;
}

}

@media (max-width: 991.98px) {    
    .navbar{padding: 0;}
    .right {
    margin-left: 0;} 

    .square {
    margin-top: 2.5rem;
    border: solid 2px white;
    height: 12.5rem;
    text-align: center;
    color: white;
    cursor: pointer;
}
    
   #testimonials .header {
    font-size: 40px;
    padding-top: 6rem;
    font-weight: 900;
}
    
    #testimonials .back-rectangle {
    top: 6rem;}
    
    .dropdown-menu {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
        box-shadow: none;}
    

    
    #homepage-intro .back-rectangle {
    border: 0.4375rem solid #e4e4e4;
    height: 8.75rem;
    width: 18.125rem;
    position: absolute;
    top: 6.5rem;
    left: 10px;
    z-index: -30;
}
    
    #our-services .back-rectangle {
    left: 10%;}
    
     #banner_blue {
    height: auto;}  

    .contacts-background{
        background: url(../images/footer_two.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin-top: 4rem;
    }

}

    @media(max-width:520px ){
    #careers-tabs li a {
    margin-right: 3rem;}
        
    img#banner_one{margin-top: 18%;}
        
    .banner-text {
    margin-bottom: 2rem;}
        
    #services-intro .back-rectangle {
    left: 0;}
        
        #services-intro .back-rectangle {
    left: 5%;
    width: 16.125rem;

}

#our-culture-content .back-rectangle{
    border: 0.4375rem solid #e4e4e4;
    height: 5.625rem;
   width: 12.125rem;
    position: absolute;
     top: 3.5rem;
    left: 25%;
    z-index: -30;
}

    .quotes-open {
    font-size: 128px;
    position: absolute;
    color: #e7e7e7e7;
    left: 0;
    top: 20px;}
    
    #carouselExampleIndicators ol{
    bottom:-7%;}
        
    .send-button {
    margin-bottom: 5rem;}
            
  .background-words-openproject {
    position: relative;
    left: 70px;
    font-size: 110px;
    color: #e2e2e2;
    font-weight: 600;
    white-space: nowrap;}
      
    #navbar ul li a {
    padding-bottom: 0px;
    background-color: transparent;
    color: #1f1f29;
    padding: 0.3rem 0rem 0.8rem 0rem;
    font-size: 1.125rem;
    margin: 0.5rem;
}
        
        }

    @media(max-width:424px ){
        
        
        #careers-tabs li a {
            margin-right: 0;
        }
     
    }